# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Compiled Directories
dist
compiled

# User information, do not commit
.dev_properties.json

*.iml

# Misc
.DS_Store
.vscode
yarn-error.log
